.container{
    background-color: #111525;
    border-radius: 20px;
}

button{
    background-color: black;
    border-color: lightgray;
    border: solid;
    margin: 10px;
    border-radius: 5px;
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: 200%;
    color: lightgray;
}

#display{
    background-color: #ffffff;
    color: black;
    margin: 10px;
    border-radius: 5px;
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: 200%;
    text-align: center;
}

h2{
    color: lightgray;
}