

@{
    ViewBag.Title = "About";
    Layout = "_Layout";
}

<h2 id="aboutheader">About</h2>

<div class="col-6">


    <h3>Student på Universitetet i Agder</h3>
    <p class="abouttxt">Grunnen til at jeg valgte <em>UiA</em> var fordi jeg allerede studerte på <em>UiA</em>. Dette ville gjøre studiehverdagen min enkelere
        fordi jeg kunne være tilstede fysisk uten å reise mellom forskjellige universiteter.</p>

    <h3>Dataingeniør</h3>
    <p class="abouttxt">Teknologien ser ut til å utvikle seg <strong>raskt</strong>, og å drive med dette er det muligheter for å bidra til betydelig
        innovasjon. Jeg interesserer meg også for matematikk og logikk, noe jeg tenkte var en viktig del av studiet.</p>
        
            
</div>


<div class="col-3">
    hei
</div>
<h2>Emner jeg har fullført</h2>
<ul>
    <li>ikt100</li>
    <li>ikt101</li>
    <li>ikt102</li>
</ul>

<h2>Prioritetsliste for semesterets emner</h2>
<ol>
    <li>ikt201</li>
    <li>Diskret matematikk 2</li>
    <li>Statistikk</li>
</ol>

<h2>Tabell</h2>
<table class="table">
    <tr><td>Hei</td><td>Du</td></tr>
</table>

<h2>Form</h2>
<form>
    <input type="text" class="form-control">
    <button type="submit" class="btn">Submit</button>
</form>

<h2>Et bilde av meg</h2>
<img src="Images/meg.jpg" alt="meg" height="100" width="200">