

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Calculator</h2>

    
    <input id="display">
    

        <button class="col" id="reset">C</button>
        <button class="col" id="clear">CE</button>

    

        <button class="number, col" value="7" id="seven">7</button>
        <button value="8" class="number, col" id="eight">8</button>
        <button value="9" class="number, col" id="nine">9</button>
        <button id="divide" class="operator, col">/</button>



        <button value="4" class="number, col" id="four">4</button>
        <button value="5" class="number, col" id="five">5</button>
        <button value="6" class="number, col" id="six">6</button>
        <button id="multiply" class="operator, col">*</button>



        <button value="1" class="number, col" id="one">1</button>
        <button value="2" class="number, col" id="two">2</button>
        <button value="3" class="number, col" id="three">3</button>
        <button id="minus" class="operator, col">-</button>



        <button value="0" class="number, col" id="zero">0</button>
        <button class="col" id="dot">.</button>
        <button id="plus" class="operator, col">+</button>
        <button class="col" id="equals">=</button>






